/* Oystein Haugseth @ neue / sirkelstrek  */

/* ----- Base ----- */

@font-face {
  font-family: 'Gingham';
  src: url('../assets/fonts/Gingham.woff2') format('woff2');
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body,
ul,
ol,
dl,
figure {
  margin: 0;
}

body {
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
  /* Make sure footer body fills screen on pages with little content */
  min-height: 100vh;
  font-family: ;
}

img {
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  /* Remove default bottom-margin. */
  vertical-align: middle;
}

*,
*:before,
*:after {
  /* Inherit border-box from our <html> selector */
  box-sizing: inherit;
}

fieldset {
  /* Remove default fieldset styles. */
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}

/* ----- Styling ----- */

/* A better looking default horizontal rule. */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ----- Helper classes ----- */

/* Hide visually and from screen readers. */
.hidden {
  display: none !important;
}

/* Hide visually and from screen readers, but maintain layout. */
.invisible {
  visibility: hidden;
}

body {
  min-height: 100vh;
  text-align: center;
  font-size: 90px;
  background-color: #00f;
  color: #fff;
  font-family: 'Gingham', sans;
  font-variation-settings: 'wght' 1, 'wdth' 1000;
}

.content {
  display: flex;
  height: 100vh;
}

p {
  margin: auto;
  cursor: default;
  /*	transition: all 1s ease-in-out;*/
  animation: Blink 3s infinite ease-in-out;
}

/*
p:hover {
	font-variation-settings: "wght" 1000, "wdth" 1000;
}
*/

@keyframes Blink {
  0%,
  100% {
    font-variation-settings: 'wght' 100, 'wdth' 1;
  }
  50% {
    font-variation-settings: 'wght' 700, 'wdth' 150;
  }
}
