/* Oystein Haugseth @ neue / sirkelstrek  */

/* ----- Base ----- */

@font-face {
  font-family: 'Gingham';
  src: url('../assets/fonts/Gingham.woff2') format('woff2');
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  min-height: 100vh;
  text-align: center;
  font-size: 90px;
  background-color: #00f;
  color: #fff;
  font-family: 'Gingham', sans;
  font-variation-settings: 'wght' 1, 'wdth' 1000;
}

.content {
  display: flex;
  height: 100vh;
}

p {
  margin: auto;
  cursor: default;
  /*	transition: all 1s ease-in-out;*/
  animation: Blink 3s infinite ease-in-out;
}

/*
p:hover {
	font-variation-settings: "wght" 1000, "wdth" 1000;
}
*/

@keyframes Blink {
  0%,
  100% {
    font-variation-settings: 'wght' 100, 'wdth' 1;
  }
  50% {
    font-variation-settings: 'wght' 700, 'wdth' 150;
  }
}
